.MyHeader {
    width: 100%;

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        list-style-type: none;

        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            // margin: 15px;

            a {
                font-family: "Helvetica Neue";
                font-size: 15pt;

                color: white;

                text-decoration: none;

                display: flex;
                align-items: center;
            }

            .dot {
                cursor: default;
                background: white;

                width:12px;
                height:12px;
                border-radius:50%;
                border: 1pt solid white;
            }
        }
    }
}