@font-face {
  font-family: "Helvetica Light";
  src: url("Helvetica-Light/HelveticaLt.ttf") format("opentype");
  font-style: light;
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("Helvetica-Light/HelveticaNeue-Medium.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}