body {
  margin: 0;
  padding: 24px;

  font-family: "Helvetica Light", "Helvetica Neue", sans-serif,
  -apple-system;

  background-color: #000000;
  color: white;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
}
