@font-face {
  font-family: "Helvetica Light";
  src: local("Helvetica Light"), url("/fonts/Helvetica-Light/HelveticaLt.ttf") format("truetype");
  font-style: light;
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"), url("/fonts/Helvetica-Neue/HelveticaNeue-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}