.Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
    display: flex;
    gap: 30px;

    li {
      display: flex;
      align-items: center;

      a {
        color: white;

        font-family: 'HelveticaNeue Medium';
        // font-size: 15pt;
        font-size: 13pt;

        text-align: center;
        text-decoration: none;
      }
    }
  }

  .dot {
    position: relative;
    margin-left: 15px;
    // margin-bottom: 5px;

    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1pt;
    background-color: white;
  }
}