.App {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;

  .Hero-banner {
    padding-top: 10vh;
    width: 100%;

    .center-album {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        // Taille optimal de l'image en vw = width: 35vw;
        width: 100%;
        max-width: 430px;
      }
    }

    .centered-axis-xy {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    .container {
      position: absolute;
      z-index: 1;

      width: 100%;

      display: flex;
      // justify-content: center;
      justify-content: space-around;
      align-items: center;
      // gap: 20rem;

      .lineUp {
        animation: 2s anim-lineUp ease-out;
      }

      @keyframes anim-lineUp {
        0% {
          opacity: 0;
          transform: translateY(50%);
        }
        20% {
          opacity: 0;
        }
        50% {
          opacity: 1;
          transform: translateY(0%);
        }
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }

      .left {
        visibility: hidden;
        padding-right: 2rem;

        h3 {
          text-transform: uppercase;
          font-family: 'Helvetica-Light', sans-serif;
          font-style: normal;
          font-weight: 100;
          font-size: 10pt;
        }

        h1 {
          text-transform: uppercase;
          font-family: 'HelveticaNeue Medium', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 25pt;

          width: 100%;
          max-width: 470px;
        }
      }

      .right {
        padding-right: 5rem;

        img {
          width: 100%;
          max-width: 180px;
        }
      }
    }

    .container-info-scroll {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25vw;

      //padding-top: 7vh;
      padding-top: 9rem;

      h4 {
        margin: 0;

        font-family: 'HelveticaLt', sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 13pt;

        // Voir avec Nico s'il faut réduire l'opacité pour un côté plus réaliste
        opacity: .8;
      }

      .container-date {
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }
  }
}